<li
  class="grid__item scroll-trigger animate--slide-in"
  data-cascade=""
  style="--animation-order: 1;">
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div class="
         card card--standard
         card--media
         bg-white rounded-lg px-4 pt-4
         " style="--ratio-percent: 100%;">
      <div class="card__inner color-scheme-2 gradient ratio" style="--ratio-percent: 100%;">
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              src="https://cdn.shopify.com/s/files/1/0086/7932/5753/files/bundle-image.png?v=1755495968"
              alt="Buy 2 Get 1 Free"
              class="motion-reduce"
              width="1200"
              height="1200">
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a
                href="https://tryscent.co/pages/build-your-bundle"
                id="StandardCardNoMediaLink-template--17957298241606__homepage_products_tab_RwziwE-7892877410374"
                class="full-unstyled-link text-base my-8 block"
                aria-labelledby="StandardCardNoMediaLink-template--17957298241606__homepage_products_tab_RwziwE-7892877410374 NoMediaStandardBadge-template--17957298241606__homepage_products_tab_RwziwE-7892877410374">
                Buy 2 Get 1 FREE
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <div class="flex items-center flex-wrap gap-x-2 gap-y-1">
            <div>
              <div class="text-green-600 text-xs font-semibold bg-green-600/10 px-2 py-1 rounded inline-block">
                Most Popular
              </div>
            </div>
            <span class="text-gray-300 [display:none] md:inline-block">|</span>
            <div>
              <div
                class="rating"
                role="img"
                aria-label="4.7 out of 5.0 stars">
                <img
                  src="{{ 'rating-stars.svg' | asset_url }}"
                  alt="*****"
                  height="13"
                  width="66">
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">4.7 /     
                  5.0</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">(324)</span>
                <span class="visually-hidden">324     
                  total reviews</span>
              </p>
            </div>
          </div>
          <h3 class="card__heading h5" id="title-template--17957298241606__homepage_products_tab_RwziwE-7892877410374">
            <a
              href="https://tryscent.co/pages/build-your-bundle"
              id="CardLink-template--17957298241606__homepage_products_tab_RwziwE-7892877410374"
              class="full-unstyled-link text-base md:text-xl font-semibold !no-underline hover:opacity-75 !leading-tight tracking-normal my-2"
              aria-labelledby="CardLink-template--17957298241606__homepage_products_tab_RwziwE-7892877410374 Badge-template--17957298241606__homepage_products_tab_RwziwE-7892877410374">
              <span class="text-gray-500 text-base leading-none">
                Bundle Set
              </span>
              <span>
                Buy 2 Get 1 FREE
              </span>
            </a>
          </h3>
        </div>
        <div class="card__badge top right">
          <span id="Badge-template--17957298241606__homepage_products_tab_RwziwE-7892877410374" class="badge badge--bottom-left color-scheme-4">36% OFF</span>
        </div>
      </div>
    </div>
  </div>
</li>