<li
  class="grid__item scroll-trigger animate--slide-in"
  data-cascade=""
  style="--animation-order: 1;">
  <div class="card-wrapper product-card-wrapper">
    <div class="card card--standard card--media bg-white hover:[text-decoration:none] rounded-lg p-4 [&>*]:m-0 flex flex-col justify-center gap-4 md:gap-6" style="--ratio-percent: 100%;">
      <h3 class="text-2xl text-center leading-none">Buy &amp;
        <strong>save.</strong>
      </h3>
      <p class="text-center text-[#22613a] leading-snug">
        <strong>Free shipping</strong>
        with 6+ items.</p>
      <div class="flex flex-col gap-2 md:gap-3">
        <a href="https://getmsoffice.com/products/3x-50ml-perfume-bottles" class="bg-gray-100 rounded-lg no-underline hover:[text-decoration:none] text-black [display:grid] grid-cols-10 items-center">
          <div class="p-3 md:p-4 pr-2 tracking-tight leading-none col-span-5 md:col-span-6">Buy 3 items</div>
          <div class="text-[#22613a] font-bold md:text-lg text-center tracking-tight col-span-5 md:col-span-4">43% OFF</div>
        </a>
        <a href="https://getmsoffice.com/products/4x-50ml-perfume-bottles" class="bg-gray-100 rounded-lg no-underline hover:[text-decoration:none] text-black [display:grid] grid-cols-10 items-center">
          <div class="p-3 md:p-4 pr-2 tracking-tight leading-none col-span-5 md:col-span-6">Buy 4 items</div>
          <div class="text-[#22613a] font-bold md:text-lg text-center tracking-tight col-span-5 md:col-span-4">32% OFF</div>
        </a>
        <a href="https://getmsoffice.com/products/5x-50ml-perfume-bottles" class="bg-gray-100 rounded-lg no-underline hover:[text-decoration:none] text-black [display:grid] grid-cols-10 items-center">
          <div class="p-3 md:p-4 pr-2 tracking-tight leading-none col-span-5 md:col-span-6">Buy 5+ items</div>
          <div class="text-[#22613a] font-bold md:text-lg text-center tracking-tight col-span-5 md:col-span-4">49% OFF</div>
        </a>
      </div>
      <p class="text-xs tracking-tight text-center">Discount automatically applied in cart.</p>
      <a href="https://getmsoffice.com/collections/bundle-save" class="button px-2 rounded-lg">LEARN MORE</a>
    </div>
  </div>
</li>