<div class="tabs-container">

  <ul class="tabs-menu">
    <li class="active" data-tab="description">Description</li>
    <li data-tab="features">Features</li>
    <li data-tab="specs">Specs</li>
    <li data-tab="warranty">Warranty & Returns</li>
  </ul>

  <div class="tabs-content">
    <div id="description" class="tab-pane active">
      <p>This is the description content...</p>
    </div>

    <div id="features" class="tab-pane">
      <p>These are the features...</p>
    </div>

    <div id="specs" class="tab-pane">
      <p>Specs content goes here...</p>
    </div>

    <div id="warranty" class="tab-pane">
      <p>Warranty and return info...</p>
    </div>
  </div>

</div>
