<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline w-full justify-between gap-4 !pl-3" role="list">
    <li class="flex items-center">
       <a
        id="HeaderMenu-buy-3-get-1-free"
        href="/products/4-x-100ml-perfume-bottles"
        class="bg-[linear-gradient(to_right,#226139,#26964F)] inline-block px-2 rounded no-underline text-white">
        <span>4 for
          {{ bundle_product.price | money }} $44
        </span>
      </a>
    </li>
    {% for link in linklists[section.settings.menu].links %}
      <li>
        <a
          id="HeaderMenu-{{ link.handle }}"
          href="{{ link.url }}"
          class="header__menu-item list-menu__item link link--text focus-inset">
          <span>{{ link.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>