<div class="abtest_icons">
  <div class="max-width mbview_icon">
    <div class="mview-icons-wraper">
      <div class="mblist">
        <img
          src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon__download.png?v=1718867038"
          alt="Download"
          height="24"
          width="24">
        <p>Instant Digital Download</p>
      </div>
      <div class="mblist">
        <img
          src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon__twitter_verified_badge__1.png?v=1719469427"
          alt="Check"
          height="24"
          width="24">
        <p>Lifetime Product Guarantee</p>
      </div>
      <div class="mblist">
        <img
          src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon__Event_schedule.png?v=1718867038"
          alt="Calendar"
          height="24"
          width="24">
        <p>Year Round Service</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Soft PDP top",
    "presets": [
      {
        "name": "Soft PDP top"
      }
    ]
  }
{% endschema %}