<div class="bg-white py-8">
  <div class="page-width">
    <div class="flex flex-col md:flex-row gap-4 md:gap-12 items-center">
      <p class="font-semibold leading-snug text-center">GetMsOffice is Trusted by</p>
      <div class="grid grid-cols-3 md:grid-cols-6 gap-4 md:gap-8 items-center">
        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/kelloggs-logo_monochrome-black.svg?v=1720589366"
            alt="Kellogg's"
            loading="lazy"
            width="1000"
            height="350" />
        </div>

        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/lowes-logo_monochrome-black.svg?v=1720589398"
            alt="Lowe's"
            loading="lazy"
            width="91"
            height="43" />
        </div>

        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/nasa-worm-logo_monochrome-black.svg?v=1720589465"
            alt="NASA"
            loading="lazy"
            width="508"
            height="142" />
        </div>

        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/netflix-logo_monochrome-black.svg?v=1720589569"
            alt="Netflix"
            loading="lazy"
            width="1024"
            height="277" />
        </div>

        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/pfizer-logo_monochrome-black.svg?v=1720589671"
            alt="Pfizer"
            loading="lazy"
            width="1000"
            height="409" />
        </div>

        <div class="item">
          <img
            class="w-full h-auto"
            src="//getmsoffice.com/cdn/shop/files/qualcomm-logo_monochrome-black.svg?v=1720589702"
            alt="Qualcomm"
            loading="lazy"
            width="784"
            height="144" />
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Soft Logos PDP",
    "settings": [],
    "presets": [
      {
        "name": "Soft Logos PDP"
      }
    ]
  }
{% endschema %}